body {
    width: auto;
    height: auto;
    background: hsl(39 6% 83%);
}

h1 {
    color:rgb(12 37 134);
}

h1 span {
    color: #d69e36;
}

.menu > li > a {
    color: rgb(134 12 110);
}

.menu > li > a > span{
    color: red;
}

.menu > li > div[data-role="dropdown"] {
    background-color: hsl(39 21% 73%);
}

.menu > li > div[data-role="dropdown"] ul > li >  a > span {
    color: rgb(14, 36, 96);
}

/* Je ne sais pas comment faire sans pseudo selecteur */
.menu > li:nth-child(3) div[data-role="dropdown"] ul > li:nth-of-type(2){
    background-color: purple;
}

.content {
    color: darkcyan;
}